<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>HOLD test</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>hold</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Apple events are used for better user experience</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>We will not use it, but please approve</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth is used by Mixpanel API</string>
	<key>NSCameraUsageDescription</key>
	<string>We will not use it, I believe</string>
	<key>NSContactsUsageDescription</key>
	<string>We will not use it too</string>
	<key>NSFaceIDUsageDescription</key>
	<string>It is useless</string>
	<key>NSHomeKitUsageDescription</key>
	<string>We will not use it</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location is used by mixpanel API</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location is used by Mixpanel API</string>
	<key>NSLocationUsageDescription</key>
	<string>Location is used by mixpanel API</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location is used by mixpanel API</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Your speech will be detected after tapping record button.</string>
	<key>NSMotionUsageDescription</key>
	<string>We use it to collect data</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We will not use it</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>In fact we will not use it</string>
	<key>NSRemindersUsageDescription</key>
	<string>We will remind you about reflections</string>
	<key>NSSiriUsageDescription</key>
	<string>We will use Siri to help us get text from your spoken words</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Speak and watch your words become text</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<string>yes</string>
	<key>kTCCServiceMediaLibrary</key>
	<string>We use it to collect data</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb821852964940676</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>821852964940676</string>
	<key>FacebookDisplayName</key>
	<string>ALPHARCASDK</string>
</dict>
</plist>
